<div class="col-lg-8 col-lg-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-lg-6">
					<input type="string" class="form-control input-lg" placeholder="Codigo de Barras" ng-model="$ctrl.invoiceModel.barCode" ng-keypress="$event.which == 13 && $ctrl.addToInvoice('byCode', $ctrl.invoiceModel.barCode)" ng-disabled="$ctrl.isPaying" focus-if="!$ctrl.mustFocus()">
				</div>
				<div class="col-lg-6">
					<input type="text" class="form-control input-lg" list="autocomplete" placeholder="Nombre del Producto" ng-model="$ctrl.invoiceModel.productName" ng-keypress="$event.which == 13 && $ctrl.addToInvoice('byName', $ctrl.invoiceModel.productName)" ng-disabled="$ctrl.isPaying" focus-if="$ctrl.mustFocus()">
					<datalist id="autocomplete">
						<option ng-repeat="product in $ctrl.products track by product._id">{{product.name}}</option>
					</datalist>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<table class="table" style="table-layout: fixed">
				<thead class="bg-dark">
					<tr>
						<th>PRODUCTO</th>
						<th style="text-align: center;">PRECIO</th>
						<th style="text-align: center;">CANTIDAD</th>
						<th style="text-align: center;">TOTAL</th>
						<th style="text-align: center;">QUITAR</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th class="bg-secondary">SubTotal</th>
						<td>{{$ctrl.invoice.$getSubTotal() | currency:"$":0}}</td>
						<td colspan="3">{{$ctrl.invoice.$length()}} Productos</td>
					</tr>
					<tr>
						<th class="bg-secondary">Impuesto</th>
						<td>{{$ctrl.invoice.$getTaxes() | currency:"$":0}}</td>
						<td colspan="3">I.V.A. 19%</td>
					</tr>
					<tr>
						<th class="bg-secondary">Descuento</th>
						<td>{{$ctrl.invoice.$getDiscounts() | currency:"$":0}}</td>
						<td colspan="3">{{$ctrl.invoice.$getDiscountsList || "No Aplica"}}</td>
					</tr>
					<tr>
						<th class="bg-secondary">Total</th>
						<td colspan="4" class="info">{{$ctrl.invoice.$getTotal() | currency:"$":0}}</td>
					</tr>
				</tfoot>
				<tbody class="info">
					<tr ng-repeat="item in $ctrl.invoice.product_list track by $index">
						<td>{{item.name}}</td>
						<td style="text-align: center;">{{item.price | currency:"$":0}}</td>
						<td>
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-outline-info" type="button" ng-click="$ctrl.invoice.$minusOne(item)"><i class="fas fa-minus"></i></button>
								</span>
								<input type="text" class="form-control" ng-model="item.qty" readonly="">
								<span class="input-group-btn">
									<button class="btn btn-outline-info" type="button" ng-click="$ctrl.invoice.$plusOne(item)"><i class="fas fa-plus"></i></button>
								</span>
							</div>
						</td>
						<td style="text-align: center;">{{(item.price * item.qty) | currency:"$":0}}</td>
						<td style="text-align: center;"><button type="button" class="btn btn-outline-danger" ng-click="$ctrl.invoice.$remove(item)"><i class="fas fa-times"></i></button></td>
					</tr>
					<tr ng-show="$ctrl.invoice.$length() === 0">
						<td colspan="5" style="vertical-align: middle; text-align: center; height: 100px">Boleta Vacía (Escanea un Codigo)</td>
					</tr>
				</tbody>
			</table>
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-danger btn-lg" ng-disabled="$ctrl.invoice.$length() === 0" ng-click="$ctrl.resetInvoice()">CANCELAR</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-success btn-lg" ng-disabled="$ctrl.invoice.$length() === 0" ng-click="$ctrl.payInvoice()">PAGAR</button>
				</div>
			</div>
		</div>
	</div>
</div>